<!--Matthew Tingum-->
<!--TODO: Fancify the submission currntly being shown when !vm.showResults -->

<!--<center><h1>Hi {{vm.user.firstName}}!</h1></center>-->

<div ng-repeat="x in vm.submissions" style="display:table;border-left: thick solid #000000;border-right: thick solid #000000;border-top: thick solid #000000;border-bottom: thick solid #000000;width:100%;" ng-click="vm.loadSub(x._id)" ng-show="vm.showResults">
<p>
<span style="vertical-align:middle;display:table-cell;"><img ng-src="{{x.ImagePath}}" alt={{x.Description}} style="width:304px;height:228px;vertical-align:middle;display:table-cell;"/></span>
<span style="vertical-align:middle;display:table-cell;">
	&nbsp;&nbsp;&nbsp;&nbsp;
	<b>{{x.Description}}</b>
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;
	Tags: {{x.Tags}}
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;
	{{x.Time}}
</span>
</p>
</div>



<div ng-show="!vm.showResults">

<center>
<h2>{{vm.loadedSub.Description}}</h2>
<br>
<img ng-src="{{vm.loadedSub.ImagePath}}" style="width:800px;height:450px;" /> 
<br>
<br>
<b>Tags: </b>{{vm.loadedSub.Tags}}
<br>
<b>Time: </b>{{vm.loadedSub.Time}}
<br>
<b>Character: </b>{{vm.loadedSub.Character}}
<br>
<b>Location: </b>{{vm.loadedSub.Location}}
</center>


<a id="" href="" ng-click="vm.showResults = !vm.showResults">Back</a>

</div>